# PostgreSQL configuration
POSTGRES_USER=your_postgres_user_here
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=your_postgres_db_here
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@127.0.0.1:5432/${POSTGRES_DB}

# OpenAI configuration
OPENAI_API_KEY=your_openai_api_key_here

# JWT secret key
SECRET_KEY=your_secret_key_here